.p-inputtext, .p-dropdown {width: 100%;}
.badge {    
    top: 5px;
    right: 95px;
}
.status_buttons {
    margin: 5px!important;
}

.navigationButt {
    transform: rotate(-90deg);
    white-space:nowrap;
    width: 40px;
    height: 20px;
    margin-top: 240px;
}
.p-col {width: fit-content;}