.p-col {
    padding: .5em;
    flex-grow: 1;
    flex-basis: 0;
}

.child_messg_row td {
    border: none !important;
}

.rce-container-mbox {
    max-width: 600px;
}

.mssg-box {
    background-color: #c2ddf2;
    border: solid #c2ddf2;
    border-radius: 5px;
}

body .p-treetable .p-treetable-thead tr th {
    background-color: #c2ddf2 !important;
}

.badge {
    background-color: #f44336;
    color: #ffffff;
    position: absolute;
    font-size: 11px;
    top: -1px;
    right: 4px;
    margin-left: -5px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-weight: bold;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px
}

.head_buttons button {
    margin-left: 3%;
    margin-right: 2%;
}

.progressDiv {
    width: "100%";
    display: "flex";
    align-items: "center";
    justify-content: "center";
}