.commandPallete {
    text-align: start;
}

.commandPallete > * {
    margin-right: 1%!important;
}

.center_cell {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.testStatusCell
{ 
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr;
    cursor: pointer;
}

.testStatusCell > * {
    align-self: center;
    justify-self: center;
}

.tableContainer {
    display: flex;
    flex-direction: column;
}