.login_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login_form {
    width: 90%;
    max-width: 400px;
}

#submitForm {
    width: 30%;
    float: right;
}

#error {
    width: fit-content;
    color: red;
}

.shake-horisontal {
    animation-name: shake;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes shake {

    0%,
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    20%,
    60% {
        transform: translate(15px, 0px) rotate(0deg);
    }

    40%,
    80% {
        transform: translate(-15px, 0px) rotate(0deg);
    }
}