.maintainerHeaderLine {
    display: flex;
    justify-content: space-between;
    color: #4c8dce;
}

.maintainerHeaderLineRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maintainerHeaderLineRight > * {
    margin-left: 8px;
}

.avatarBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.avatarBlock .avatar_img {
    margin-right: 5%;
    display: flex;
}

.avatarBlock .avatar_img img {
    border-radius: 100%;
    height: 35px;
    width: 35px;
}

.avatarBlock .title {
    white-space: nowrap;
}

.showIcon path {
    fill: #4c8dce;
}

.showIcon:hover path {
    fill: darkblue;
}