.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header > a, .leftHeader > *, .rightHeader > * {
    margin: 0 5px;
    color: #4c8dce;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header>* {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    width: -moz-fit-content;
    align-items: center;
}

.progress_bar {
    height: 5px !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1001;
}

.showHeader {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto!important;
    width: min-content;
    color: #4c8dce;
    z-index: 1000;
}

.header_sidebar > div {
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1), 0px 1px 3px 1px rgba(0, 0, 0, 0.14), 0px 1px 2px 5px rgba(0, 0, 0, 0.12);
    padding: 5px 0;
    overflow: hidden;
}

.header_white_margin {
    height: 70px;
    width: 100%;
}