.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.header > a, .leftHeader > *, .rightHeader > * {
    margin: 0 5px;
    color: #4c8dce;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header>* {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    width: -moz-fit-content;
    align-items: flex-end;
}

.progress_bar {
    height: 5px !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1001;
}

.showHeader {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto!important;
    width: min-content;
    color: #4c8dce;
    z-index: 1000;
}

.header_sidebar {
    height: auto;
    z-index: 1000;
}

.header_white_margin {
    height: calc(0.6em + 45px);
    width: 100%;
}